<div class="w-full h-screen grid grid-cols-1 lg:grid-cols-2 bg-white gap-[2rem]">
    <div class="max-w-full hidden lg:block">
        <img src="https://images.pexels.com/photos/2829373/pexels-photo-2829373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="h-screen w-full" alt="login-image">
    </div>
    <div class="max-w-full h-screen flex flex-col py-[8rem] md:py-[10rem] lg:py-[6rem] 2xl:py-[15rem]">
        <h2 class="text-black font-bold text-center text-lg md:text-xl lg:text-3xl mb-[8px]">Create New Password</h2>
        <h4 class="text-grey font-medium text-center text-sm">Your new password must be different from the previous one</h4>

        @if (isLoading) {
            <app-spinner></app-spinner>
        }

        <form 
            (ngSubmit)="newPassword()" 
            [formGroup]="changePasswordForm" 
            class="flex flex-col gap-[16px] px-[2.5rem] md:px-[3.5rem] lg:px-[6rem] 2xl:px-[12rem] mt-[18px] lg:mt-[24px] xl:mt-[3rem]"
            novalidate
        >
            <div class="flex flex-col gap-[4px]">
                <label for="newPassword" class="font-medium text-gray tracking-wide leading-none">New Password</label>
                <input 
                    type="password" 
                    formControlName="newPassword" 
                    placeholder="Enter new password"
                    class="border border-grey rounded py-[6px] px-[10px] placeholder:text-sm caret-violet focus:outline-none focus:border-violet focus:text-black"
                    required
                >
                <div *ngIf="changePasswordForm.get('email')?.invalid && (changePasswordForm.get('email')?.touched || changePasswordForm.get('email')?.dirty)" class="text-red text-sm">
                    <div *ngIf="changePasswordForm.get('email')?.errors?.['required']">Password is required</div>
                </div>
            </div>
            <div class="flex flex-col gap-[4px]">
                <label for="confirmPassword" class="font-medium text-gray tracking-wide leading-none">confirmPassword</label>
                <input 
                    type="password" 
                    formControlName="confirmPassword" 
                    placeholder="Confirm password"
                    class="border border-grey rounded py-[6px] px-[10px] placeholder:text-sm caret-violet focus:outline-none focus:border-violet focus:text-black"
                    required
                >
                <div *ngIf="changePasswordForm.get('password')?.invalid && (changePasswordForm.get('password')?.touched || changePasswordForm.get('password')?.dirty)" class="text-red text-sm">
                    <div *ngIf="changePasswordForm.get('password')?.errors?.['required']">Password is required</div>
                </div>
            </div>
            <button 
                type="submit" 
                [disabled]="changePasswordForm.invalid || isLoading"
                class="bg-violet py-[8px] text-white text-center font-bold tracking-wide rounded border-none hover:bg-lightViolet focus:bg-lightViolet cursor-pointer"
            >
                <span *ngIf="isLoading" class="flex items-center justify-center gap-[1rem]">
                    Changing Password
                    <app-spinner></app-spinner>
                </span>
                <span *ngIf="!isLoading">Change Password</span>
            </button>
        </form>
    </div>
</div>