<div class="w-full h-screen grid grid-cols-1 lg:grid-cols-2 bg-white gap-[2rem]">
    <div class="max-w-full hidden lg:block">
        <img src="../../../assets/signup.jpg" class="h-screen w-full" alt="signup-image">
    </div>
    <div class="max-w-full h-screen flex flex-col py-[3rem] md:py-[7rem] lg:py-[2rem] xl:py-[7rem]">
        <h2 class="text-black italic font-bold text-center text-lg md:text-xl lg:text-3xl mb-[8px]">DripLuxury Clothing</h2>
        <h4 class="text-grey font-medium text-center text-sm mb-[1rem]">Create an account for free to get access to our products.</h4>

        <form (ngSubmit)="signup()" [formGroup]="signupForm" class="flex flex-col gap-[16px] px-[2.5rem] md:px-[3.5rem] lg:px-[5rem] xl:px-[12rem] mt-[18px] lg:mt-[24px] xl:mt-[3rem]">
            <div class="flex flex-col gap-[4px]">
                <label for="firstName" class="font-medium text-gray tracking-wide leading-none">First Name</label>
                <input 
                    type="text" 
                    formControlName="firstName" 
                    placeholder="Enter your first name"
                    class="border border-grey rounded py-[6px] px-[10px] placeholder:text-sm caret-violet focus:outline-none focus:border-violet focus:text-black"
                    required
                >
                <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="text-red text-sm">First name is required</div>
            </div>
            <div class="flex flex-col gap-[4px]">
                <label for="lastName" class="font-medium text-gray tracking-wide leading-none">Last Name</label>
                <input 
                    type="text" 
                    formControlName="lastName" 
                    placeholder="Enter your last name"
                    class="border border-grey rounded py-[6px] px-[10px] placeholder:text-sm caret-violet focus:outline-none focus:border-violet focus:text-black"
                    required
                >
                <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="text-red text-sm">Last name is required</div>
            </div>
            <div class="flex flex-col gap-[4px]">
                <label for="email" class="font-medium text-gray tracking-wide leading-none">Email</label>
                <input 
                    type="email" 
                    formControlName="email" 
                    placeholder="Enter your email address"
                    class="border border-grey rounded py-[6px] px-[10px] placeholder:text-sm caret-violet focus:outline-none focus:border-violet focus:text-black"
                    required
                >
                <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)" class="text-red text-sm">
                    <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required</div>
                    <div *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email</div>
                </div>
            </div>
            <div class="flex flex-col gap-[4px]">
                <label for="password" class="font-medium text-gray tracking-wide leading-none">Password</label>
                <input 
                    type="password" 
                    formControlName="password" 
                    placeholder="Enter your password"
                    class="border border-grey rounded py-[6px] px-[10px] placeholder:text-sm caret-violet focus:outline-none focus:border-violet focus:text-black"
                    required
                >
                <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)" class="text-red text-sm">
                    <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</div>
                </div>
            </div>
            <div class="flex flex-col gap-[4px]">
                <label for="confirmPassword" class="font-medium text-gray tracking-wide leading-none">Confirm Password</label>
                <input 
                    type="password" 
                    formControlName="confirmPassword" 
                    placeholder="Confirm password"
                    class="border border-grey rounded py-[6px] px-[10px] placeholder:text-sm caret-violet focus:outline-none focus:border-violet focus:text-black"
                    required
                >
                <div *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched" class="text-red text-sm">
                    <div *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">Confirm password is required</div>
                    <div *ngIf="signupForm.hasError('passwordsMatch')" class="text-red text-sm">Passwords do not match</div>
                </div>
            </div>           
            <button 
                type="submit" 
                [disabled]="signupForm.invalid || isLoading"
                class="bg-violet py-[8px] text-white text-center font-bold tracking-wide rounded border-none hover:bg-lightViolet focus:bg-lightViolet cursor-pointer"
            >
                <span *ngIf="isLoading">
                    <app-spinner></app-spinner>
                </span>
                <span *ngIf="!isLoading">Create an account</span>
            </button>
            <div class="flex items-center gap-[5px] justify-center">
                <p class="text-grey text-sm tracking-wide">Already have an account?</p>
                <p routerLink="/login" class="text-violet text-sm font-medium tracking-wide cursor-pointer active:text-lightViolet hover:text-purple-700">Login</p>
            </div>
        </form>
    </div>
</div>