<div class="w-full h-screen grid grid-cols-1 lg:grid-cols-2 bg-white gap-[2rem]">
    <div class="max-w-full hidden lg:block">
        <img src="https://images.pexels.com/photos/2681751/pexels-photo-2681751.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="h-screen w-full" alt="reset-image">
    </div>
    <div class="max-w-full h-screen flex flex-col py-[7rem] md:py-[7rem] lg:py-[9rem] 2xl:py-[15rem]">
        <h2 class="text-black font-bold text-center text-lg md:text-xl lg:text-3xl mb-[8px]">Reset your password</h2>
        <h4 class="text-grey font-medium text-center text-sm mb-[1rem] px-[2rem] md:px-0">
            Enter your email and we'll send you a link to reset your password. Please check it
        </h4>

        @if (isLoading) {
            <app-spinner></app-spinner>
        }

        <form 
            (ngSubmit)="sendCode()" 
            [formGroup]="submitEmail" 
            class="flex flex-col gap-[16px] px-[2.5rem] md:px-[3.5rem] lg:px-[6rem] 2xl:px-[12rem] mt-[18px] lg:mt-[24px] xl:mt-[3rem]"
            novalidate
        >
            <div class="flex flex-col gap-[4px]">
                <label for="email" class="font-medium text-gray tracking-wide leading-none">Email</label>
                <input 
                    type="email" 
                    formControlName="email" 
                    placeholder="Enter your email address"
                    class="border border-grey rounded py-[6px] px-[10px] placeholder:text-sm caret-violet focus:outline-none focus:border-violet focus:text-black"
                    required
                >
                <div *ngIf="submitEmail.get('email')?.invalid && (submitEmail.get('email')?.touched || submitEmail.get('email')?.dirty)" class="text-red text-sm">
                    <div *ngIf="submitEmail.get('email')?.errors?.['required']">Email is required</div>
                    <div *ngIf="submitEmail.get('email')?.errors?.['email']">Invalid email</div>
                </div>
            </div>          
            <button 
                type="submit" 
                [disabled]="submitEmail.invalid || isLoading"
                class="bg-violet py-[8px] text-white text-center font-bold tracking-wide rounded border-none hover:bg-lightViolet focus:bg-lightViolet cursor-pointer"
            >
                <span *ngIf="isLoading" class="flex items-center justify-center gap-[1rem]">
                    Sending email
                    <app-spinner></app-spinner>
                </span>
                <span *ngIf="!isLoading">Submit</span>
            </button>
            <div class="flex items-center gap-[5px] justify-center">
                <fa-icon [icon]="faAnglesLeft"></fa-icon>
                <p routerLink="/login" class="text-violet text-sm font-medium tracking-wide cursor-pointer active:text-lightViolet hover:text-purple-700">Back to Login</p>
            </div>
        </form>
    </div>
</div>