<div class="w-full px-[5%] pb-[4%]">
    <h2 class="font-medium tracking-wide pl-[8px] border-l-[6px] border-violet mb-[1.5rem] md:text-lg">Big Saving Zone</h2>
    <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-[7px] md:gap-[10px] mb-[10px]">
        <div class="flex flex-col px-[2rem] py-[2rem] lg:px-[2.5rem] lg:pt-[2.5rem] border-none rounded-md gap-[1.5rem] text-white h-auto shirt">
            <span>   
                <h2 class="text-lg lg:text-2xl capitalize tracking-wide font-bold mb-[8px]">hawaiian <br> shirts</h2>
                <h5 class="text-xs lg:text-sm font-light tracking-wide mb-[20px]">Dress up in summer vibe</h5>
                <h6 class="text-xs uppercase font-bold tracking-wider">upto 50% off</h6>
            </span>
            <fa-icon [icon]="faArrowDown" class="text-white font-medium text-2xl pl-[2.5rem]"></fa-icon>
            <span>
                <button type="button" routerLink="/tops" class="text-[9px] uppercase tracking-wide border rounded hover:bg-slate-900 hover:font-bold hover:border-none py-[6px] px-[1rem]">Shop now</button>
            </span>
        </div>
        <div class="flex flex-col px-[2rem] py-[2rem] lg:px-[2.5rem] lg:pt-[1.2rem] border-none rounded-md gap-[1.5rem] text-white h-auto print">
            <span>  
                <button type="button" class="text-[8px] bg-black uppercase tracking-wide border-none rounded font-medium hover:bg-slate-900 hover:font-bold py-[6px] px-[1rem] mb-[10px]">limited stock</button> 
                <h2 class="text-lg lg:text-2xl capitalize tracking-wide font-bold mb-[8px]">printed <br> t-Shirts</h2>
                <h5 class="text-xs lg:text-sm font-light capitalize tracking-wide mb-[20px]">new designs every week</h5>
                <h6 class="text-xs uppercase font-bold tracking-wider">upto 50% off</h6>
            </span>
            <fa-icon [icon]="faArrowDown" class="text-white font-medium text-2xl pl-[2.5rem]"></fa-icon>
            <span>
                <button type="button" routerLink="/tops" class="text-[9px] uppercase tracking-wide border rounded hover:bg-slate-900 hover:border-none hover:font-bold py-[6px] px-[1rem]">Shop now</button>
            </span>
        </div>
        <div class="flex flex-col px-[2rem] py-[2rem] lg:px-[2.5rem] lg:pt-[2.5rem] border-none rounded-md gap-[1.5rem] text-white h-auto sneakers">
            <span>   
                <h2 class="text-lg lg:text-2xl tracking-wide capitalize font-bold mb-[8px]">fashion <br> sneakers</h2>
                <h5 class="text-xs lg:text-sm font-light tracking-wide mb-[20px] capitalize">move with style & comfort</h5>
                <h6 class="text-xs uppercase font-bold tracking-wider">upto 50% off</h6>
            </span>
            <fa-icon [icon]="faArrowDown" class="text-white font-medium text-2xl pl-[2.5rem]"></fa-icon>
            <span>
                <button type="button" routerLink="/tops" class="text-[9px] uppercase tracking-wide border rounded hover:bg-slate-900 hover:border-none hover:font-bold py-[6px] px-[1rem]">Shop now</button>
            </span>
        </div>
    </div>

    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-[7px] md:gap-[10px] mb-[18px] md:mb-[2rem] lg:mb-[5rem]">
        <div class="flex flex-col px-[2rem] py-[2rem] lg:px-[2.5rem] lg:pt-[2.5rem] border-none rounded-md gap-[1.5rem] text-white h-auto watch">
            <span>   
                <h2 class="text-lg lg:text-2xl capitalize tracking-wide font-bold mb-[8px]">expensive <br> jewelry</h2>
                <h5 class="text-xs lg:text-sm font-light tracking-wide mb-[20px]">Dress up in style</h5>
                <h6 class="text-xs uppercase font-bold tracking-wider">flat 60% off</h6>
            </span>
            <fa-icon [icon]="faArrowDown" class="text-white font-medium text-2xl pl-[2.5rem]"></fa-icon>
            <span>
                <button type="button" routerLink="/tops" class="text-[9px] uppercase tracking-wide border rounded hover:bg-slate-900 hover:font-bold hover:border-none py-[6px] px-[1rem]">Shop now</button>
            </span>
        </div>
        <div class="flex flex-col px-[2rem] py-[2rem] lg:px-[2.5rem] lg:pt-[2.5rem] border-none rounded-md gap-[1.5rem] text-white h-auto jeans">
            <span>   
                <h2 class="text-lg lg:text-2xl capitalize tracking-wide font-bold mb-[8px]">baggie <br> jeans</h2>
                <h5 class="text-xs lg:text-sm font-light tracking-wide mb-[20px]">Wear your jeans in style & comfort</h5>
                <h6 class="text-xs uppercase font-bold tracking-wider">flat 60% off</h6>
            </span>
            <fa-icon [icon]="faArrowDown" class="text-white font-medium text-2xl pl-[2.5rem]"></fa-icon>
            <span>
                <button type="button" routerLink="/tops" class="text-[9px] uppercase tracking-wide border rounded hover:bg-slate-900 hover:font-bold hover:border-none py-[6px] px-[1rem]">Shop now</button>
            </span>
        </div>
    </div>

    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-[7px] md:gap-[10px] mb-[10px]">
        <div class="px-[2rem] py-[3rem] lg:px-[2.5rem] lg:py-[4rem] rounded-md text-white h-auto fashion">
            <h3 class="text-lg lg:text-2xl font-extrabold uppercase tracking-wider mb-[10px] lg:mb-[1.5rem]">We make your everyday <br> fashion better!</h3>
            <p class="opacity-60 text-xs mb-[1.5rem] lg:mb-[2rem]">
                In our journey to improve everyday fashion, <br>
                dripluxury presents EVERYDAY wear range - <br>
                Comfortable & Affordable fashion 24/7
            </p>
            <button type="button" routerLink="/men" class="text-[9px] text-black font-semibold uppercase tracking-wide border-none rounded bg-white hover:text-white hover:bg-slate-900 hover:font-bold py-[6px] px-[1rem]">Shop now</button>
        </div>
        <div class="better rounded-md"></div>
    </div>
</div>