<div class="w-full px-[5%] pb-[6%] md:pb-[4%]">
    <div class="bg-gray w-full h-auto rounded-xl py-[3rem] px-[3rem]">
        <h4 class="text-center text-white lg:text-xl 2xl:text-2xl tracking-wide font-bold">Top Brands Deal</h4>
        <div class="flex items-center gap-[1rem] max-w-[90%]">
            <img src="../../../../assets/component/amiri.png" class="w-[20%] h-[50px]" alt="amiri-logo">
            <img src="../../../../assets/component/jordan.jpg" class="w-[20%] h-[50px]" alt="amiri-logo">
            <img src="../../../../assets/component/balenciaga.jpg" class="w-[20%] h-[50px]" alt="amiri-logo">
            <img src="../../../../assets/component/balmain.webp" class="w-[20%] h-[50px]" alt="amiri-logo">
            <img src="../../../../assets/component/versace.png" class="w-[20%] h-[50px]" alt="amiri-logo">
        </div>
    </div>
</div>