<app-navbar></app-navbar>
<app-carousel
    [images]="[
        'https://images.pexels.com/photos/974911/pexels-photo-974911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
        'https://images.pexels.com/photos/1536619/pexels-photo-1536619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
        'https://images.pexels.com/photos/871494/pexels-photo-871494.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
        'https://images.pexels.com/photos/949670/pexels-photo-949670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    ]"
>
</app-carousel>
<app-explore></app-explore>
<app-new-arrivals></app-new-arrivals>
<app-big-saving></app-big-saving>
<app-men-home></app-men-home>
<app-women-home></app-women-home>
<app-brands></app-brands>
<app-kids></app-kids>
<app-footer></app-footer>