<div class="w-full bg-white h-auto flex flex-col lg:border-2 lg:border-lightGray">
    <div class="flex items-center justify-between px-[1.5rem] py-[10px] border-b-2 border-lightGray">
        <h5 class="text-gray tracking-wide font-semibold">Filter</h5>
        <span class="cursor-pointer flex items-center justify-center w-[35px] h-[35px] hover:rounded-md hover:bg-violet">
            <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.83333 6.33333L2.83333 1.75M2.83333 18.25L2.83333 10M13.8333 18.25L13.8333 10M8.33333 18.25V13.6667M8.33333 10V1.75M13.8333 6.33333L13.8333 1.75M1 6.33333H4.66667M6.5 13.6667H10.1667M12 6.33333L15.6667 6.33333" stroke="#807D7E" stroke-width="1.8" stroke-linecap="round"/>
            </svg>
        </span>
    </div>
    <div class="hidden lg:block">
        <div class="flex flex-col gap-[10px] p-[1.5rem] border-b-2 border-lightGray">
            <span class="flex items-center justify-between cursor-pointer">
                <h5 class="text-gray tracking-wide">Tops</h5>
                <fa-icon [icon]="faChevronRight" class="text-black text-[12px]"></fa-icon>
            </span>
            <button type="button" class="flex items-center justify-between cursor-pointer">
                <h5 class="text-gray tracking-wide">Shirts</h5>
                <fa-icon [icon]="faChevronRight" class="text-black text-[12px]"></fa-icon>
            </button>
            <span class="flex items-center justify-between cursor-pointer">
                <h5 class="text-gray tracking-wide">Pants</h5>
                <fa-icon [icon]="faChevronRight" class="text-black text-[12px]"></fa-icon>
            </span>
            <span class="flex items-center justify-between cursor-pointer">
                <h5 class="text-gray tracking-wide">Sweatshirts</h5>
                <fa-icon [icon]="faChevronRight" class="text-black text-[12px]"></fa-icon>
            </span>
            <span class="flex items-center justify-between cursor-pointer">
                <h5 class="text-gray tracking-wide">Hoodies</h5>
                <fa-icon [icon]="faChevronRight" class="text-black text-[12px]"></fa-icon>
            </span>
            <span class="flex items-center justify-between cursor-pointer">
                <h5 class="text-gray tracking-wide">Shoes</h5>
                <fa-icon [icon]="faChevronRight" class="text-black text-[12px]"></fa-icon>
            </span>
            <span class="flex items-center justify-between cursor-pointer">
                <h5 class="text-gray tracking-wide">Denims</h5>
                <fa-icon [icon]="faChevronRight" class="text-black text-[12px]"></fa-icon>
            </span>
            <span class="flex items-center justify-between cursor-pointer">
                <h5 class="text-gray tracking-wide">Jackets</h5>
                <fa-icon [icon]="faChevronRight" class="text-black text-[12px]"></fa-icon>
            </span>
            <span class="flex items-center justify-between cursor-pointer">
                <h5 class="text-gray tracking-wide">Shorts</h5>
                <fa-icon [icon]="faChevronRight" class="text-black text-[12px]"></fa-icon>
            </span>
        </div>
        <div class="flex flex-col cursor-pointer">
            <span class="flex items-center justify-between px-[1.5rem] py-[1rem] border-b-2 border-lightGray">
                <h5 class="text-gray tracking-wide font-semibold">Price</h5>
                <fa-icon [icon]="faChevronUp" class="text-black text-[12px]"></fa-icon>
            </span>
            <div class="p-[1.5rem] flex items-center justify-between border-b-2 border-lightGray">
                <span class="text-center font-medium bg-white border-[3px] border-lightGray px-[1rem] py-[6px] rounded-xl text-xs">$100</span>
                <span class="text-center font-medium bg-white border-[3px] border-lightGray px-[1rem] py-[6px] rounded-xl text-xs">$2000</span>
            </div>
        </div>
    </div>
</div>